.fondocuenta {
    background: #D9D9D9;
    display: flex;
    justify-content: center;
}
.cuadrocuenta {
    width: 800px;
    height: auto;
    margin: 50px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 60px;
    display: flex;
    justify-content: center;
}
.funcion {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 34px;
    letter-spacing: 0.05em;    
    
}
.activado {
    color: #723209;
}
.noactivado {
    color: #BE8123;
}

.logout {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(30, 30, 30, 0.6);
    background: linear-gradient(90deg, #EF5B50 0%, #662923 97.91%);
    box-shadow: 0px 4px 4px rgba(30, 30, 30, 0.6);
    border-radius: 60px;
    border: none;
    }

#infocuenta {
    width: auto;
    height: 250px;
    background: #EEEEEE;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    margin-right: 40px;
    margin-bottom: 40px;
}
td {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 23px;

    color: #878787;
}
.modificar {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #BE8123;
    background: #FFFFFF;
    border: 4px solid #BE8123;
    border-radius: 60px;
}
.inputeditar {
    width: 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 23px;
    color: #878787;
    background: #EEEEEE;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 35px;
    text-align: center;
}