#buttonlogin {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #237018;
    background: linear-gradient(90deg, #83D375 0%, #4FBA3F 100%);
    box-shadow: 0px 4px 4px #979797;
    border-radius: 60px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 350px;

}
.rendersignup {
    background: #FFFFFF;
    border: 4px solid #BE8123;
    border-radius: 60px;
    width: 350px;
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;

    color: #BE8123;
}
#floatingInput {
    width: 350px;
    background: #EEEEEE;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 60px;
}
#floatingPassword {
    width: 350px;
    background: #EEEEEE;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 60px;
}
#exampleModalToggle {
    border-radius: 60px;
    
}
#password, #email {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #878787;
}
.questionlogin {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #381A07;
}