.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.5);
    border-radius: 35px;
}

.modal-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#boton_logout {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(30, 30, 30, 0.6);
    background: linear-gradient(90deg, #EF5B50 0%, #662923 97.91%);
    box-shadow: 0px 4px 4px rgba(30, 30, 30, 0.6);
    border-radius: 60px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
}    

#texto {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #878787;
}

