.img {
    width: 200px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 25px 25px;
    margin-left: 30px;
    position: absolute;
    top: 0px;
    left: 2%;
    z-index: 1;
}
nav {
    height: 70px;
    background: linear-gradient(90.05deg, #FCD25B 1.27%, #BE8123 109.84%);
}
#menu {
    font-family: 'Fredoka', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #BE8123;
}
#delivery {
    font-family: 'Fredoka', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #BE8123;
}
#pedidos {
    font-family: 'Fredoka', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #BE8123;
}
#contacto {
    font-family: 'Fredoka', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #BE8123;
}
#inicio {
    background: linear-gradient(90deg, #83D375 0%, #4FBA3F 100%);
    box-shadow: 0px 4px 4px #9D6919;
    border-radius: 60px;
    font-family: 'Fredoka', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.09em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #237018;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    width: 200px;
}
#logout {
    font-family: 'Fredoka', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.09em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(30, 30, 30, 0.6);
    background: linear-gradient(90deg, #EF5B50 0%, #662923 97.91%);
    box-shadow: 0px 4px 4px rgba(30, 30, 30, 0.6);
    border-radius: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    width: 200px;
    }

#compra {
    width: 120px;
    height: 80px; 
    margin-left: 10%;
    background: #FFFFFF;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 25px 25px;
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 1;

}
#ul {
    position:absolute;
    left: 20%;
    z-index: 1;
}
.checkbox {
    display: none;
}
  
.slider {
    width: 60px;
    height: 25px;
    background-color: lightgray;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 3px solid transparent;
    transition: .3s;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
    cursor: pointer;
}
  
.slider::before {
    content: '';
    display: block;
    width: 90%;
    height: 90%;
    background-color: #D9D9D9;
    transform: translateX(-30px);
    border-radius: 30px;
    transition: .3s;
    box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}
  
.checkbox:checked ~ .slider::before {
    transform: translateX(30px);
    box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}
  
.checkbox:checked ~ .slider {
    background-color: #8b8b89;
}
  
.checkbox:active ~ .slider::before {
    transform: translate(0);
}

#modonocturno {
    color: #D9D9D9;
}
#modoclaro {
    color: #D9D9D9;
}
